<div class="contenedor">
    <h1 class="titulo">Algun Titulo</h1>
<h2 class="subtitulo">Algun Subtitulo</h2>
<p class="relleno">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus animi eius aperiam et, accusantium sunt dolore sed fugiat magni, officiis officia sint quibusdam aliquam accusamus magnam inventore odio dignissimos sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis fugit, voluptate debitis vitae neque quae animi possimus dicta praesentium itaque eaque cum! Nam amet nihil sit cupiditate explicabo fugit nostrum!</p>
</div>

